services:
    server:
        container_name: class-compass-server-dev
        build:
            context: .
            dockerfile: Dockerfile.dev
        env_file:
            - .env
        ports:
            - "8393:8393"
        volumes:
            # mount source code so you can edit locally and have the container pick up changes
            - ./:/app:delegated
            # preserve container-installed node_modules so host/node mismatch doesn't break things
            - /app/node_modules
        depends_on:
            - postgres
            - redis
        networks:
            - backend-network
        restart: "no"

    postgres:
        container_name: class-compass-server-postgres
        image: postgres:18-alpine
        restart: unless-stopped
        ports:
            - "${POSTGRES_PORT:-5432}:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_PORT: ${POSTGRES_PORT:-5432}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - class-compass-postgres-data:/var/lib/postgresql/data
        networks:
            - backend-network

    redis:
        image: redis:7-alpine
        container_name: class-compass-server-redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
            - ./config/redis/users.acl:/usr/local/etc/redis/users.acl
            - redis-data:/data
        command: redis-server /usr/local/etc/redis/redis.conf
        healthcheck:
            test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
            interval: 5s
            timeout: 3s
            retries: 5
        networks:
            - backend-network

volumes:
    class-compass-postgres-data:
    redis-data:

networks:
    backend-network:
        driver: bridge
