services:
  server:
    container_name: class-compass-server
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8393:8393"
    restart: unless-stopped
    depends_on:
      - postgres
  
  postgres:
    container_name: class-compass-postgres
    image: postgres
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT:-5432}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - class-compass-postgres-data:/var/lib/postgresql/data

volumes:
  class-compass-postgres-data: